<%- include("./../partials/header.ejs") %>


<main class="main container-center">
    <% if (locals.message) { %>
        <div class="flash-message center-margin">
            <h2><%= locals.message %> <%= locals.code %></h2>
        </div>
        <form class="center-margin" action="/view-label" method="POST">
            <h2>Enter Pin code</h2>
            <input type="number" name="pincode" max="999999" required="required">
            <input type="int" name="labelId" id="" value="<%= locals.label %>" hidden="hidden">
            <button type="submit">Verify</button>
        </form>
    <% } %>
</main>

<%- include("./../partials/footer.ejs") %>